<div id="navigation-photo">
  <div id="navigation-photo-buttons">
    <ul>
      <li><a href="/photos.html">headshots</a></li>
      <li><a href="/production-photos.html">production photos</a></li>
   </ul>
 </div>
</div>

<link rel="stylesheet" href="stylesheets/lightgallery.css">
<script type="text/javascript" src="/public/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/public/lightgallery.min.js"></script>
<script type="text/javascript" src="/public/lg-fullscreen.min.js"></script>
<script type="text/javascript" src="/public/lg-thumbnail.min.js"></script>
