#info-email {
  margin: 5px 0 15px 0;
}

#contact-info {
  width: 940px;
  margin: 0px auto;
  text-align: center;
}

#contact-info p {
  line-height: 28px;
}

#contact-info p strong {
  font-weight: normal;
}
